body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/pic2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.logo {
  height: 48px;
  margin: 20px auto;
}

.login-page {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: rgba(14, 102, 85, 0.5);
  max-width: 360px;
  padding: 15px;
  text-align: center
}

.form input {
  outline: none;
  font-family: sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px
}

.btn {
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  text-transform: uppercase;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  margin: 0 0 15px;
  box-sizing: border-box;
  font-size: 14px;
  outline-color: transparent
}

.btn:hover {
  background: #43a047;
  /* cursor: default */
}

.form .message,
.form .message-admin {
  margin: 15px 0 0;
  color: aliceblue;
  font-size: 14px
}

.form .message a,
.form .message-admin a {
  text-decoration: none;
  color: #e78200
}

.form .register-form {
  display: none
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  /* color: #daaf78 */
  color: #e78200
}

.err-msg,
.succ-msg {
  font-weight: bold;
  font-family: sans-serif;
  display: block;
  margin-bottom: 15px
}

.err-msg {
  color: rgb(211, 52, 52);
}

.succ-msg {
  color: rgb(52, 211, 145);
}


.loader {
  margin: auto;
  display: none;
  border: 5px solid rgba(14, 102, 85, 0.5);
  border-top: 5px solid #4caf50;
  border-left: 5px solid #4caf50;
  border-right: 5px solid #4caf50;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}